<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Index Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="main.css">
</head>
<header>
    <div class="container white-color-ending">
            <span class="item">
                <h2>Website Headline</h2>
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad aspernatur molestiae reprehenderit fugit voluptates</div>
            </span>
            <span id="nav" >
                    <ul>
                        <li><a href="#home">Link</a></li>
                        <li><a href="#news">Link</a></li>
                        <li><a href="#contact">Link</a></li>
                        <li><a href="#about">Link</a></li>
                    </ul>
            </span>

    </div>
</header>
<body>
    <h3 class="sub-title">Introduction</h3>
    <div class="container">
          <div class="item">
            <h3>Lorem </h3>
            <p>Cupidatat Lorem Lorem amet nostrud qui ea. Non labore sunt dolore esse pariatur. Officia Lorem cupidatat cupidatat ipsum anim sit proident nostrud. Elit aute laborum eu excepteur adipisicing magna deserunt sunt.
    Amet culpa est consequat laborum esse eiusmod.
            </p>
          </div>
          <div class="item">
            <div class="item grey-box"></div>
          </div>
    </div>
    <div class="container">
        <div class="item">
                <div class="item grey-box"></div>
            </div>    
    <div class="item">
        <h3>Lorem </h3>
        <p>Cupidatat L  orem Lorem amet nostrud qui ea. Non labore sunt dolore esse pariatur. Officia Lorem cupidatat cupidatat ipsum anim sit proident nostrud. Elit aute laborum eu excepteur adipisicing magna deserunt sunt.
    Amet culpa est consequat laborum esse eiusmod.
        </p>
    </div>    
    </div>
    <div class="container">
        <div class="item ">
            <h3>Lorem </h3>
            <p>Cupidatat L  orem Lorem amet nostrud qui ea. Non labore sunt dolore esse pariatur. Officia Lorem cupidatat cupidatat ipsum anim sit proident nostrud. Elit aute laborum eu excepteur adipisicing magna deserunt sunt.
            Amet culpa est consequat laborum esse eiusmod.
            </p>
        </div>   
        <div class="item grey-box"></div>
    </div>
    <h3 class="sub-title">Another subtitle</h3>
    <div class="form-container">
        <form>
            <input></input>
            <input></input>
            <input></input>
            <textarea></textarea>
            <div style="text-align: right">
                <button id="button-input"></button>
            </div>
            
        </form>
    </div>

</body>
<footer>
    <div class="footer-container" >
        <div id="copyright" class="item">
            Copyright - @Faris Tangastani
        </div>
        <div>
            <button></button>
        </div>
        <div>
            <button></button>
        </div>
        <div >
            <button></button>
        </div>
    </div>
</footer>
</html>