body {
    background: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
	text-align: center;
}

.dealer-floor {
	display:none;
}

.button {
	background:black;
	color: red;
}
	.hit-me {
		display: none;
	}
	.stay {
		display: none;
	}

.title {
    text-align: center; 
}



.card-floor {
    background: green;
}
