.form {
    margin:auto;
}

.form__input {
    display: block;
    width: 100%;
    height: 50%;
    // padding: 20px;
    margin-bottom: 20px;
    background: $light-grey;
    border: none;
    @media screen and (min-width: $break-sm) {
        width: 1000px;
        height: 50px;
      }
}

.form__textarea {
    // width: 100%;
    // padding: 20px;
    height: 50px;
    background: $light-grey;
    border: none;
    resize: none;
    @media screen and (min-width: $break-sm) {
        height: 180px;
        width: 997px;
      }
}
.button__input {
    margin-top: 25px;
    width: 50%;
    height: 29px;
    background: $dark-grey;
    border: none;
    @media screen and (min-width: $break-sm) {
        width: 22%;
        height: 60px;
      }

}